{% extends 'bootstrap_3_layout.html.twig' %}

{% block _people_attachments_label %}
    <tr>
        <td>{{ form_label(form) }} <button title="{{ 'Add new file'|trans }}" class="btn btn-warning newRow">{{ 'Add new file'|trans }} <i class="fa fa-plus-square-o"></i></button></td>
    </tr>
{% endblock %}

{% block _people_attachments_entry_label %}
    <tr>
        <td><strong>{{ 'Attachment #'|trans ~  (form.vars.name + 1) }}</strong></td>
    </tr>
{% endblock %}

{% block _people_attachments_entry_widget %}
    <tr>
        <td>
            {{ form_row(form.file) }}
            <small class="text-info">{{ 'Maximum file size is 1MB' }}</small>
        </td>
    </tr>
{% endblock %}

