{% extends 'AdFinemSimpleFormBundle::layout.html.twig' %}

{% block content %}

    <ul class="actions list-unstyled">
        <li>
            <a class="btn btn-primary" href="{{ path('ad_finem_simple_form_homepage') }}"><i class="fa fa-arrow-circle-left"></i> {{ 'Back to list'|trans }}</a>
        </li>
    </ul>

    {{ form(edit_form) }}
{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}