{% extends 'AdFinemSimpleFormBundle::layout.html.twig' %}

{% block content %}
    <ul class="actions list-unstyled">
        <li>
            <a class="btn btn-primary" href="{{ path('person_new') }}">{{ 'Add new person'|trans }} <i class="fa fa-plus-circle"></i></a>
        </li>
    </ul>
    {{ grid(grid) }}

    <!-- Modal model -->
    <div class="modal fade modalModelConfirm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'Close'|trans }}"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{ 'Confirm action'|trans }}</h4>
                </div>
                <div class="modal-body">
                    <p>{{ 'Confirm action to do it...'|trans }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
                    <button type="button" class="btn btn-primary btnConfirm">{{ 'OK'|trans }}</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- End Modal model -->

{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script>
        {#
          Create confirm action script, on start hide all "href" attributes for block e.g right click  
        #}
        $('.confirmAction').each(function (i) {
            $(this).attr('data-href', $(this).attr('href')).attr('href', '#');
        });
        
    {# 
       Show confirm modal if click delete button  
    #}
        $('body').on('click', '.confirmAction', function (e) {
            e.preventDefault();
            var modalModel = $('.modalModelConfirm')[0].outerHTML,
                    handler = $(this);
            if (modalModel) {
                var myModal = $(modalModel),
                        date = new Date(),
                        myModalClass = 'modal-' + date.getTime();
                myModal
                        .removeClass('modalModelConfirm')
                        .addClass(myModalClass);
                if (handler.attr('data-confirm-title')) {
                    myModal.find('.modal-title').html(handler.attr('data-confirm-title'));
                }
                if (handler.attr('data-confirm-content')) {
                    myModal.find('.modal-body p').html(handler.attr('data-confirm-content'));
                }
                $('body').append(myModal);
                myModal.find('.btnConfirm').on('click', function (e) { //if confiremd then delete
                    e.preventDefault();
                    myModal.modal('hide');
                    myModal.remove();
                    window.location.href = handler.attr('data-href');
                    return false;
                })
                myModal.modal();
            } else {
                alert('No modal found...')
            }
            return false;
        });
    </script>
{% endblock %}