{% extends 'AdFinemSimpleFormBundle::layout.html.twig' %}

{% block content %}

    <ul class="actions list-unstyled">
        <li>
            <a class="btn btn-primary" href="{{ path('ad_finem_simple_form_homepage') }}"><i class="fa fa-arrow-circle-left"></i> {{ 'Back to list'|trans }}</a>
        </li>
    </ul>

    {{ form(form) }}
{% endblock %}

{% block scripts %}
    {{ parent() }}

    {#
        Create script to manage attachemnts collection (max rows is 5, min 1)
    #}
    <script>
        $(function () {
            var prototype = $('#people_attachments').length ? $('#people_attachments').attr('data-prototype') : false, maxRows = 5,
                    insertPrototype, index,
                    html, val, normalizeIds = function () {
                        $('#people_attachments > .form-group').each(function (i) {
                            if (i > 0) {
                                html = $(this).find('strong')[0].outerHTML;
                                html = html.replace(/#\d+/, '#' + (i + 1));
                                $(this).find('strong').replaceWith(html);

                                $(this).find('[id^=people_attachments_],[for^=people_attachments_]').each(function (k) {
                                    if ($(this)[0].tagName === 'LABEL') {
                                        $(this).attr('for', 'people_attachments_' + i + '_file');
                                    } else {
                                        $(this).attr('id', 'people_attachments_' + i + '_file');
                                    }
                                });

                                $(this).find('[name^=people\\[attachments\\]]').each(function (k) {
                                    $(this).attr('name', 'people[attachments][' + i + '][file]');
                                });
                            }
                        });
                    },
                    preparePrototype = function (idx) { {# prepare new row prototype, change __name__ to index #}
                        insertPrototype = prototype;
                        index = idx ? idx : $('#people_attachments > .form-group').length;
                        insertPrototype = insertPrototype.replace(/__name__/gi, index).replace(/#1/gi, '#' + (index + 1));
                        return insertPrototype;
                    };

            if ($('button.newRow').length && prototype) {
                $('button.newRow').on('click', function (e) {
                    e.preventDefault();
                    $('#people_attachments').append(preparePrototype());
                    $('#people_attachments > .form-group:last strong').after(' <button title="{{ 'Delete file'|trans }}" class="btn btn-danger btn-sm removeRow"><i class="fa fa-times"></i></button>');
                    index = $('#people_attachments > .form-group').length;
                    if (maxRows === index) { //if count is maxRows thene disable add new button
                        $(this).prop('disabled', true);
                    }
                    return false;
                });

                // remove row on click - delete and normalize ids
                $('#people_attachments').on('click', 'button.removeRow', function (e) {
                    e.preventDefault();
                    $(this).parents('.form-group:eq(0)').remove();
                    $('button.newRow').prop('disabled', false);
                    normalizeIds();
                    return false;
                });
            }

            // on start if count of attachemnts is more than one we must add remove button, e.g after save with error
            if ($('#people_attachments > .form-group').length > 1) {
                $('#people_attachments > .form-group').each(function (i) {
                    if (i > 0) {
                        $(this).find('strong').after(' <button title="{{ 'Delete file'|trans }}" class="btn btn-danger btn-sm removeRow"><i class="fa fa-times"></i></button>');
                    }
                })
            }
        });
    </script>
{% endblock %}