{% extends 'AdFinemSimpleFormBundle::layout.html.twig' %}

{% block content %}
    <ul class="actions list-unstyled">
        <li>
            <a class="btn btn-primary" href="{{ path('ad_finem_simple_form_homepage') }}"><i class="fa fa-arrow-circle-left"></i> {{ 'Back to list'|trans }}</a>
        </li>
    </ul>

    <table class="table table-condensed table-striped">
        <tbody>
            <tr>
                <th>{{ 'ID'|trans }}</th>
                <td>
                    {{ person.id }}
                </td>
            </tr>
            <tr>
                <th>{{ 'Name'|trans }}</th>
                <td>
                    {{ person.name ? person.name : '--' }}
                </td>
            </tr>
            <tr>
                <th>{{ 'Lastname'|trans }}</th>
                <td>
                    {{ person.lastname }}
                </td>
            </tr>
            <tr>
                <th>{{ 'Email'|trans }}</th>
                <td>
                    {{ person.email }}
                </td>
            </tr>
            <tr>
                <th>{{ 'Created at'|trans }}</th>
                <td>
                    {{ person.created|format_datetime }}
                </td>
            </tr>    
            <tr>
                <th>{{ 'Updated at'|trans }}</th>
                <td>
                    {{ person.updated|format_datetime }}
                </td>
            </tr>
            <tr>
                <th>{{ 'Images'|trans }}</th>
                <td>
                    <ul>
                        {% for image in person.attachments if file_exists(image.getWebPath()) %}
                            <li><a href="{{ path('person_download_attachment', { id: image.id }) }}"><i class="fa fa-download"></i> {{ 'Download file:'|trans ~ image.path }}</a></li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>        



{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}