<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block metaDescription %}{% endblock %}">
        <meta name="keywords" content="{% block metaKeywords %}{% endblock %}">
        <meta name="author" content="Paweł Kaźmierczak">

        <title>{% block metaTitle %}ADFINEM TEST{% endblock %}</title>

        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('bundles/adfinemsimpleform/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Font Awesome Icons -->
        <link href="{{ asset('bundles/adfinemsimpleform/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">    

        <!-- Custom CSS -->
        <link href="{{ asset('bundles/adfinemsimpleform/css/simple-sidebar.css') }}" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

        <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="#">
                            Start Bootstrap
                        </a>
                    </li>
                    <li>
                        <a href="#">Dashboard</a>
                    </li>
                    <li>
                        <a href="#">Shortcuts</a>
                    </li>
                    <li>
                        <a href="#">Overview</a>
                    </li>
                    <li>
                        <a href="#">Events</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>
                                {% block pageTitle %}
                                    {% if title is defined and title %}
                                        {{ title }}
                                    {% else %}    
                                        ADFINEM TEST - list
                                    {% endif %}
                                {% endblock %}
                            </h1>
                            
                            {% block flash %}
                                {% for type, flashMessages in app.session.flashbag.all() %}
                                    {% for flashMessage in flashMessages %}
                                        <div class="alert alert-{{ type }}" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="{{ 'Zamknij'|trans }}"><span aria-hidden="true">&times;</span></button>
                                            {{ flashMessage|raw }}
                                        </div>
                                    {% endfor %}                            
                                {% endfor %} 
                            {% endblock %}
                            
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{{ asset('bundles/adfinemsimpleform/js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('bundles/adfinemsimpleform/js/bootstrap.min.js') }}"></script>

    <!-- jQuery Validation -->
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>


    {% block scripts %}
        <script>
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        </script>

        <script>
            $(function () {
                $.validator.setDefaults({
                    showErrors: function (errorMap, errorList) {
                        $('.form-group')
                                .removeClass('has-error')
                                .find('.help-block')
                                .remove();

                        errorList.forEach(function (el, idx, arr) {
                            if ($(el.element).parents('.form-group:eq(0)').find('span.help-block').parents('.form-group:eq(0)').find('span.help-block').length) {
                                $(el.element).parents('.form-group:eq(0)').find('span.help-block').remove();
                            }
                            $(el.element).after('<span class="help-block"><ul class="list-unstyled"></ul></span>');
                            $(el.element).parents('.form-group:eq(0)').find('.help-block ul').append('<li><span class="glyphicon glyphicon-exclamation-sign"></span> ' + el.message + '</li>');
                            $(el.element).parents('.form-group:eq(0)').addClass('has-error');
                        });
                    }
                });

                $('form').validate({
                });
            });
        </script>
    {% endblock %}

</body>

</html>
